*{
    font-family: 'Open Sans', sans-serif;
}
body{
    width:970px;
    margin:0 auto;
    text-align: center;    
}
ul{
    padding:0px;
    margin:0px;
}
li{
    list-style-type: none;
}
p{
    margin:0px;
    text-align: left;
}

h1{
    font-size: 40px;
    font-weight:400;
    margin-bottom:20px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .pattern_list{
    display:table;
} */
.hidden{
    display: none;
}
.v-hidden{
    visibility: hidden;
}
/* Скрываем подписи на radio button */
.answer_item_text{
    display:none;
}
.answer{
    flex-shrink:0;
    display: flex;
    justify-content: space-between;
}


.test-result{
    width:100%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get_result{
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display:block;
    width:150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;        
    }        
.get_result:hover {
    background-color: rgb( 75, 183, 141 );
    }


.result{
    margin-bottom: 50px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: opacity 1s, display 0s linear 0.3s;
}
.show{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}


.specification{
    width:900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    margin-bottom:20px;   
}
.specification span{
    font-size:12px;
    margin:0 9px;
}


.pattern_list{
    margin:0 auto;
}

.pattern_list__items{
    width:900px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.answer_items{
    margin:0px 23px;
}
.result_test_item{
    margin-bottom: 10px;
}



@media screen and (max-width: 600px) {
    body{
        width:100vw;
        margin:0 auto;
        text-align: center;  
        box-sizing: border-box;  
    }
    h1{
        margin-bottom: 32px;
        font-size: 21px;
        margin-top: 28px;
    }
    section{   
        max-width:100vw;
        margin:0 auto;     
    }
    .specification{
        display: none;
    }
    .pattern_list__items{
        flex-direction: column; 
        max-width:100vw;
        margin-left:15px;      
    }
    .pattern_list__items p {
        width:90vw; ;
        margin-bottom: 20px;
    }
    .answer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .answer_items{
        margin:10px 5px 10px 30px;
    }
    .answer_item_text{
        display: inline-block;
    }
    .result{
        margin: 0 15px;
        margin-bottom: 60px;
    }
    .test-result p{
        text-align: center;
     }
     .result_test_item{
         margin-bottom: 10px;
     }
  }