*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}
.main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background: url(../img/img.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.header{
	position: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background:rgba(0,0,0, 0.8);
	width: 100%;
	height: 6vh;
	z-index: 5;
}
.logo{	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	margin-left: 57px;
	min-width: 300px;
}
.logo a {	
	color: #fff;
	text-decoration: none;	
	font-size: 20px;
	font-weight: 400;

}
.logo img{
	margin-right: 10px;
	width:25px;	
}



.menu{	
	margin-left: 20%;
	width: 20%;
	min-width: 325px;

}
.menu ul{
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.menu-link{
	color: #fff;	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;

}
.menu-link:hover{
	color: #ead22f;	
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;

}

.social{
	min-width: 150px;
    padding-left: 20px;	
	
}
.social img{
	width:30px;
	margin-left: 10px;	
}
.main-text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	padding-top: 70px;
	height: 75%;
	min-width: 1028px;
	
}
.main-text_subtitle{
	font-family: 'Roboto';
	text-align: center;	
	color: #ffffff;
	font-size: 17px;
    font-weight: 400;
    line-height: 25px;

}
.main-text-title{
	font-family: 'Roboto';
	line-height: 50px;
	text-align: center;	
	color: #ffffff;
	font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#form{
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;

}
.form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width:850px;
	height:150px;
	background:rgba(255,255,255, 0.3);
	margin-top: 10px;
	margin-bottom: 50px;
	border-radius: 3px;	
}
.form_but{
	border-radius: 3px;
	border: none;
	background-color:#f3da31;
	padding: 13px 16px;
	text-shadow: -12px 5px 28px rgba(0, 0, 0, 0.4);
	color: #000;
	font-size: 20px;
	font-weight: 400;
	vertical-align: middle;
	z-index: 3
}
.form_but:focus{
	outline: none;
	border-radius: 3px;
	border: none;
	background-color:#f3da31;
	padding: 13px 16px;
	text-shadow: -12px 5px 28px rgba(0, 0, 0, 0.4);
	color: #000;
	font-size: 20px;
	font-weight: 400;
	vertical-align: middle;
}
.form_but:hover{

	outline: none;
	border-radius: 3px;
	border: none;
	background-color:#f3da00;
	padding: 13px 16px;
	text-shadow: -12px 5px 28px rgba(0, 0, 0, 0.4);
	color: #000;
	font-size: 20px;
	font-weight: 400;
	vertical-align: middle;
}
.form_input{	
	border-radius: 3px;
	border: none;	
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 20px;
	padding-right: 50px;
	padding-left: 15px;
	vertical-align: middle;
}

.form_input:focus{	
	outline: none;
	border-radius: 3px;
	border: none;	
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 20px;
	padding-right: 50px;
	padding-left: 15px;
	vertical-align: middle;
}

.hr{
	width: 100%;
	margin-top: -75px;
	margin-bottom: -5px;
}
.section{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	height: 90vh;
	min-height: 800px;
	background-color: #f6f6f6;
}

.section h2{
	padding-top: 55px;
	padding-bottom: 50px;
	text-transform: uppercase;
}
.section_content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	-ms-align-items:baseline ;
	align-items: baseline;
	width: 1080px;
	padding-bottom: 40px;	
}
.s_c_f{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding-left: 30px;
}
.section_content__title{
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 30px;
}
.section_content__text{	
	padding-left: 30px;
	width: 520px;
	height: 132px;
}
.section_content__text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
}
.how_work{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	box-shadow: -6px 3px 26px 1px rgba(0, 0, 0, 0.25);	
	background-color: #fceb7a;	
}
.how-work__header{
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 24px;
	font-weight: 400;
}
.how-work__content{
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	-ms-align-items: flex-end;
	align-items: flex-end;
	width: 1080px;
	padding-bottom: 30px;
}
.how-work__img img{	
	height: 110px;
}
.how-work__img p{
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
}