body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header  */
.header{
    min-height: 100vh;
    background-image: url(../img/header-fon.png);
    background-position: center center;
    background-size: cover;
}

/* header-logo */
.btn{
    position: relative;
}
.logo{    
    padding-top: 25px;
    display: inline-block;    
}
.heder_logo__btn{ 
    width: 64%;   
    border-radius: 22px;
    background-color: #f32266;
    border:none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.6em;
    letter-spacing: 0.15em;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
}
.heder_logo__btn:hover{
    background-color: #f3155d;
}
.header__logo_text{
    margin-left: 1%;
    margin-bottom: 0;
    display: inline-block;
    color: #ee2164;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.7em;
    letter-spacing: 0.15em;
    text-transform: uppercase;    
}

.header__logo_subtext{
    padding: 0;
    margin: 0;    
    position: absolute;
    left: 12%;    
    color: #ffffff;
    font-family: Roboto;
    font-size: 0.8em;
    font-weight: 300;
    /* Text style for "с, тудия о" */
    letter-spacing: 0.15rem;
}
.header_top-menu ul li{
    display: inline-block;
    margin-top: 45px;
    margin-left: 3%;
}
.header_top-menu ul li a{
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 300;
    /* Text style for "У, слуги" */
    letter-spacing: 0.11em;
    /* text-transform: uppercase; */
    text-decoration: none;
    transition:all 0.5s;    
}
.header_top-menu ul li a:hover{
    color: #f32266;
}
/* заголовок главного экрана */
.header_title{
    margin-top: 15%;
}
.header_title h1{
    color: #ffffff;
    font-family: Roboto;
    font-size: 250%;
    font-weight: 300;
    line-height: 1.2em;
    /* Text style for "Увелич кол" */
    letter-spacing: 0.05em;
}
.header_title p{
    margin-top: 10%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 300;
    /* Text style for "С, оздание" */
    letter-spacing: 0.9px;
}
/* header button */

.header_title a{
    text-decoration: none;
    padding: 10px 35px ;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 7%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    /* Text style for "п, олучить" */
    letter-spacing: 1.1px;
    border-radius: 27px;
    border: 2px solid #f32266;
    transition:all 0.7s;
}
.header_title a:hover{    
background-color: #f32266;
}

/* section-features */
.features_header{
    margin-top: 8%;
    margin-bottom: 6%;
    color: #000000;
    font-family: Roboto;
    font-size: 2.8em;
    font-weight: 300;
    line-height: 50px;
    /* Text style for "Услуги" */
    letter-spacing: 2px;
}
.features_text img{    
    width: 50px;
    height: 50px;
    opacity: 0.96;
}
.features_text p{
    margin-top: 50px;
    color: #000000;
    font-family: Roboto;
    font-size: 1.4em;
    font-weight: 300;    
    letter-spacing: 1.1px;

}