.lang{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.item{
    display: flex;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width:  560px;
    margin-top: 30px;
}
.lang div img{
    margin: 10px;
    width: 200px;
    height:200px;
}