 @import "reset"
body
    background-color #E8E8E8
a
    color#fff
a:hover
    text-decoration none
.wrapper
     max-width 100% 
     background-color #147be8
     background rgb(69,95,214)
     background linear-gradient(90deg, rgba(69,95,214,1) 35%, rgba(58,87,213,1) 100%)

.menu
    width 1024px
    min-height 70px
    margin 0 auto
    display flex
    justify-content space-between
    align-items center
    .logo
        display flex
        justify-content center
        align-items center
        img
            width 50px
            margin-right 10px           
        h1
            font-family: 'Open Sans', sans-serif;
            color #fff
            font-weight 400
            font-size 22px
        p
            font-family: 'Open Sans', sans-serif;
            color #fff
            font-weight 400
            font-size 11px
    .topmenu li
        display inline-block
        margin-right 25px
        text-transform uppercase
        letter-spacing 1px
        height 100%
        a:hover            
            color #FDC10A
            cursor pointer
        a
            font-family: 'Open Sans', sans-serif;
            color #fff
            font-weight 400
            font-size 14px
.previ   
    margin 0 auto 
    margin-top 15px    
    width 1024px
    text-align center
    h2 
        color #2c3e50
        font-family: 'Open Sans', sans-serif;            
        font-weight 400
        font-size 18px
        margin-bottom 30px
    p
        color #2c3e50
        font-family: 'Open Sans', sans-serif;            
        font-weight 400
        font-size 28px        

.content
    display flex
    flex-wrap wrap    
    align-items center
    margin 0 auto        
    width 1024px
    min-height 68vh     
    .card               
        // border 1px solid red 
        margin-left 10px
        margin-right 10px       
        width calc(100%/12*4 - 20px)
        height 210px
        background-color #fff
        box-shadow: 0 2px 4px rgba(0,0,0,.1)
        text-align center
        p
            margin-top 35px
            margin-bottom 25px
            color #2c3e50
            font-family: 'Open Sans', sans-serif;            
            font-weight 400
            font-size 28px 


.footer    
    width 100%
    min-height 15vh
    background-color #222222

.green
    background-color green