/*font-family: 'Open Sans', sans-serif;*/
body{
    background: #ececec;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;    
    min-width: 320px;
        
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
}
/* убираем у инпутов свечение */
.form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
  }
/* =================================================== */
.header_color{
    background-color: #fff;
    border-bottom: 3px solid #dadada;
    border-top: 1px solid #dadada;
}
/* меня на слайдере */
.main-menu_opaci{
    position: absolute;
    z-index: 100;
    margin-top: 15px;   
}
.main-menu_container{
    border-radius: 3px;
    background-color: #000000;
}
.menu-top .navbar{
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-top: 10px;    
}
.menu-top_navbar__color{
    background: #fff;
}
.main-menu_logoIMG{
    position: absolute ;
    margin-top: 45px;
}
.container-fluid.main-menu_opaci .container .collapse .navbar-nav{
    margin-left: 0px;
}
.container-fluid.main-menu_opaci .container .navbar .navbar-brand{
    text-transform: uppercase;
    margin-left: 120px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    font-variant: small-caps;
    
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* поиск в main-menu */
.form-inline .input-group .input-group-prepend .input-group-text{
    border-radius: 0px 3px 3px 0px; 
    background-color: #fff;    
}
.form-inline .input-group .input-group-prepend .input-group-text:hover{
   background-color: #fff; 
   cursor: pointer;
}
/* убираем отступы у верхнего меню */
.menu-top .container-fluid .container{
    padding: 0;
    margin: 0 auto;
}
/* Кнопка в menu-top(верхнее меню) */
.menu-top_btn{      
    width: 188px;
    height: 34px;
    background-color: #d51e08;
    border-radius: 3px;    
}
.menu-top_btn__iconcart{    
    width: 18px;
    height: 19px;
    position: relative;
    top: -1px;
    margin-left: 19px;
    margin-right: 7px;    
}
.menu-top_btn__colortext{
    position: relative;
    top: 1px;
    padding-bottom: 10px;
    color:#fff;    
}
/* flag */
.menu-top__img-flag{
    position: relative;
    top:-1px;
}
/* Карусель */
.header-coruel .container-fluid{
    margin: 0;
    padding: 0;
}
.header-coruel .carousel-inner .carousel-caption{
    left:-10%;
    bottom: 35%;
}
.header-coruel .carousel-inner .carousel-caption > h5{
    /* width: 417px;
    height: 49px; */
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.46);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}
.header-coruel .carousel-inner .carousel-caption > p{
    /* width: 644px;
    height: 28px; */
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}
.header-coruel .carousel-inner .carousel-caption > button{
    margin-top: 15px;
    width: 280px;
    height: 55px;
    background-color: #d51e08;    
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    border:none;
}
.header-coruel .carousel-inner .carousel-caption > button:hover{
    background-color: #a10101;
    cursor: pointer;
}
/* описание header */
.header-descr_text{
    text-align: center;
    margin-top: 20px;  
    color: #000000;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 400;
}
/* +++++=========================content==============================++++ */
/* отступы контент и сайтбар */
.sidebar{
    padding-top: 50px;
    padding-bottom: 70px;
    border-right: 3px solid #dadada;
}
.widget{
    border-bottom: 3px solid #dadada;
}
.mt{
    padding-top: 30px;
}

.widget h3{
    color:#3c3c3c;
    font-size:18px;
    margin-bottom: 15px;    
}
.widget ul{
    padding-left: 0;    
    list-style-type: none;
}
.widget ul li a{
    text-decoration: none;  
    color:#3c3c3c;
    font-style: 13px;
    font-weight: 400;
    line-height: 30px;
}
.widget ul li a:hover{
    color:#090909;
}
.widget .more{
  color:#76a7d6;
}

/* sidebar-slider */
.sidebar-slider{
    margin-top: 25px;
}
.sidebar-slider_text{
    background-color: #fff;
    text-align: center;    
    }
.sidebar-slider_text h6{
    padding-top: 15px;
   font-weight: 700;
   font-size: 13px;   
}
.sidebar-slider_text p{
    margin-bottom: 0;
    font-weight: 400;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}
.sidebar-slider .carousel .carousel-indicators{
    position: static;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 35px;    
    border-top: 1px solid #e1e1e2;
}
.sidebar-slider .carousel .carousel-indicators li{
    border-radius: 50px;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    background-color:#9a9a9a;
    
}
.sidebar-slider .carousel .carousel-indicators .active{
    background-color:#5b5b5b;
}
/* bunner sidebar */
.sidebar-card{    
    margin-top: 25px;
    background-color: #fff;
    text-align: center;
}
.sidebar-card img{
   padding: 0;
   margin: 0;
   margin-bottom: 30px;
   width: 100%;
}
.sidebar-card h5{
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    margin: 0px;

}
.sidebar-card p{
    margin: 0;
    font-weight: 400;
    font-size: 20px ;
    text-transform: uppercase;   
}
.sidebar-card_btn{ 
    border:none;
    border-radius: 5px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 35px;
    width: 172px;
    height: 35px;
    background-color: #d51e08;
}
.sidebar-abstore{
    margin-top: 50px;
}
.sidebar-abstore h4{
    font-weight: 700;
    font-size: 27px;
}
.sidebar-abstore p{
    font-weight: 400;
    font-size: 14px;
}

/* content-header row */
.content-header{
    padding: 0;
    border:1px solid red;
}
.content-header h3{
    font-weight: 700;   
    color: #3c3c3c;
    font-size: 20px;
    margin-top: 50px;    
}
.content-card-row{
    border:1px solid red;
}
/* content-card */
.content{    
    margin-bottom: 70px;
}
.content h3{
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 22px;
    margin-top: 50px;
}
.product{
    background-color: #fff;
    border: 1px solid #c0c0c0;
    padding: 25px  15px;
    text-align: center;
    position: relative;
    height: 452px;
    overflow: hidden;
    transition: all .5s;
}
.product:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.46);
}
.products-favorites{
    color:#909090;
    position: absolute;
    right: 20px;
    top:10px;
    transition: all .5s;
}
.products-favorites:hover{
    color:black;   
}
.product-img{
    height: 200px;
    width: 100%;
}
.product a{
    font-weight: 700;
    text-transform: uppercase;
    color:black;
    font-size: 14px;
}
.product-descr{    
    max-height: 60px;
    overflow:hidden;
}
.product-price{
    font-size: 14px;
    font-weight: 700;
    color:#d51e08;
}
.product-buy .btn{
    text-transform: uppercase;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-radius:2px;
    width: 140px;
    height: 34px;
}
.product-buy .btn:hover{  
    background-color: #ececec;
    
}
.product-buy{
    position: absolute;
    bottom:30px;
    left:0px;
    text-align: center;
    width: 100%;   
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px){
    .header-coruel .container-fluid{
        margin: 0;
        padding: 0;
    }
    .header-coruel .carousel-inner .carousel-caption{
        left:-10%;
        bottom: 35%;
    }
    .header-coruel .carousel-inner .carousel-caption > h5{
        /* width: 417px;
        height: 49px; */
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.46);
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .header-coruel .carousel-inner .carousel-caption > p{
        /* width: 644px;
        height: 28px; */
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .header-coruel .carousel-inner .carousel-caption > button{
        margin-top: 5px;
        width: 168px;
        height: 32px;
        background-color: #d51e08;    
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 400;
        border:none;
    }
    .header-descr_text {
        text-align: center;
        margin-top: 20px;
        color: #000000;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 400;
    }

}
@media only screen and (max-width : 1200px) {
    .header-coruel .container-fluid{
        margin: 0;
        padding: 0;
    }
    .header-coruel .carousel-inner .carousel-caption{
        left:-10%;
        bottom: 35%;
    }
    .header-coruel .carousel-inner .carousel-caption > h5{
        /* width: 417px;
        height: 49px; */
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.46);
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .header-coruel .carousel-inner .carousel-caption > p{
        /* width: 644px;
        height: 28px; */
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .header-coruel .carousel-inner .carousel-caption > button{
        margin-top: 5px;
        width: 125px;
        height: 28px;
        background-color: #d51e08;    
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 9px;
        font-weight: 400;
        border:none;
    }
    .header-descr_text {
        text-align: center;
        margin-top: 20px;
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    /* Карусель */
.header-coruel .container-fluid{
    margin: 0;
    padding: 0;
}
.header-coruel .carousel-inner .carousel-caption{
    left:-10%;
    bottom: 35%;
}
.header-coruel .carousel-inner .carousel-caption > h5{
    /* width: 417px;
    height: 49px; */
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.46);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.header-coruel .carousel-inner .carousel-caption > p{
    /* width: 644px;
    height: 28px; */
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}
.header-coruel .carousel-inner .carousel-caption > button{
    margin-top: 5px;
    width: 120px;
    height: 28px;
    background-color: #d51e08;    
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 8px;
    font-weight: 400;
    border:none;
}
.header-descr_text {
    text-align: center;
    margin-top: 20px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
}
/* адаптируем main-menu */
.main-menu_logoIMG{
    position: absolute ;
    width: 70px;
    margin-top: 20px;
    
}
.container-fluid.main-menu_opaci .container .navbar .navbar-brand{
    text-transform: uppercase;
    margin-left: 80px;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    font-variant: small-caps;
    
}
.container-fluid.main-menu_opaci .container .collapse .navbar-nav{
    margin-left: 0px;
    font-size: 12px;
}
.form-inline .input-group .input-group-prepend .input-group-text{
    height: 30px;
    border-radius: 0px 3px 3px 0px; 
    background-color: #fff;    
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 120px;
    height: 30px;
    margin-bottom: 0;
    font-size: 12px;
}
.material-icons{
    font-size: 20px;
}
.main-menu_container{
    height: 50px;
}
    /*верхнее меню  */
.navbar-light .navbar-nav .nav-link {
    font-size: 10px;
}
.menu-top_btn {    
    width: 140px;
    height: 25px;    
}
.menu-top_btn__colortext {
    position: relative;
    top: 0px;    
    color: #fff;
}
.menu-top_btn__iconcart {    
    height: 10px;
    position: relative;
    top: -1px;
    margin-left: 10px;
    margin-right: 7px;
}
.menu-top_btn__iconcart img {    
    height: 12px;    
}
.sidebar-card h5{
    font-size: 18px;
}
.sidebar-card p{
    font-size: 12px;
}
.sidebar-card button{
    margin-bottom: 15px;
    width: 110px;
    height: 20px;
    border-radius: 3px;
    font-size: 11px;
}
/* content 992 */
.products-favorites{   
    right: 5px;
    top:5px;    
}
.product-img{
    height: 200px;
    width: 100%;
}
.product a{
    font-weight: 700;
    text-transform: uppercase;
    color:black;
    font-size: 12px;
}
.product-descr{
    font-size: 10px;    
    max-height: 60px;
    overflow:hidden;
}
.product-price{
    font-size: 14px;
    font-weight: 700;
    color:#d51e08;
}
.product-buy .btn{
    text-transform: uppercase;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-radius:2px;
    width: 140px;
    height: 34px;
}
.product-buy .btn:hover{  
    background-color: #ececec;
    
}
.product-buy{
    position: absolute;
    bottom:30px;
    left:0px;
    text-align: center;
    width: 100%;   
}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header-descr_text {
        text-align: center;
        margin-top: 20px;
        color: #000000;
        font-family: "Open Sans";
        font-size: 7px;
        font-weight: 400;
    }
    .main-menu{
        display: none;
    }
    .mt{
        padding-top: 0px;
    }
    .sidebar{
        border:none;
    }
    .sidebar-card{
        height: 445px;
    }
    .sidebar-card img{
        margin-bottom: 70px;   
    }
    .sidebar-card h5{
        font-weight: 700;
        font-size: 27px;
        text-transform: uppercase;
        margin: 0px;    
    }
    .sidebar-card p{
        margin: 0;
        font-weight: 400;
        font-size: 20px ;
        text-transform: uppercase;   
    }
    .sidebar-card button{ 
        border:none;
        border-radius: 5px;
        color:#ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 35px;
        width: 172px;
        height: 35px;
        background-color: #d51e08;
    }

	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
    .mt{
        padding-top: 30px;
    }
    .sidebar-card{
        height: 560px;
    }
    .sidebar-card img{
        margin-bottom: 45px;   
    }
    .sidebar-card h5{
        font-weight: 700;
        font-size: 27px;
        text-transform: uppercase;
        margin: 0px;    
    }
    .sidebar-card p{
        margin: 0;
        font-weight: 400;
        font-size: 20px ;
        text-transform: uppercase;   
    }
    .sidebar-card button{ 
        border:none;
        border-radius: 5px;
        color:#ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 35px;
        width: 172px;
        height: 35px;
        background-color: #d51e08;
    }

}